@import 'dev.less';

article img {
	max-width: 100%;
}

article {
	.group;
}

article:nth-of-type(2),
article:nth-of-type(3),
article:nth-of-type(4),
article:nth-of-type(5) {
	border-bottom: 1px solid @darkgray;
}

article:nth-of-type(2),
article:nth-of-type(4) {
	margin-top: 3rem;

	img, span {
		float: left;
		display: inline-block
	}

	img {
		width: 30%;
		margin-right: 5%;
	}

	span {
		width: 64%;
		padding-top: 2rem;
	}
}

article:nth-of-type(4) {
	padding-bottom: 4rem;

	a {
		.button;
		margin-top: 2rem;
		width: 15rem;
	}
}

article:last-of-type {
	margin: 4rem auto;

	h2 {
		text-align: center;
		max-width: 500px;
		margin: 0 auto;
	}
}

article div {
	float: left;
	width: 49%;
	padding: 3rem 0;

	h2 {
		margin-bottom: 2rem;
	}

	&:first-of-type {
		border-right: 1px solid @darkgray;
	}
}
