.compare-footer,
.surpassing-footer {
	background-color: @lightgray;

	div {
		.wrapper;
		.group;
		padding: 1.5rem 0;
		border-bottom: 1px solid @darkgray;
	}

	h2 {
		padding-top: 4.25rem;
	}

	a {
		display: block;
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}

	strong {
		font-weight: 500;
		color: @gray;
		font-size: .8em;
		letter-spacing: 1px;
	}

	img {
		float: left;
		max-width: 100%;
		margin-right: 2rem;
	}
}
