@import 'dev.less';

article {
	.group;
	margin-top: 4rem;
	margin-bottom: 10rem;

	a {
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	p {
		display: block;
		float: left;
		width: 49%;
	}
}
