// Colours
@white: #fff;
@lightgray: #e2e2e2;
@darkgray: #bcbcbc;
@gray: #666;
@black: #333;
@blue: #0071ab;
@lightblue: #2194c1;

// Media Queries Breakpoints
@import 'media-queries.less';

// Functions
.transition (@propriety: all, @speed: 0.25s, @type: ease, @delay: 0s){
	transition: @arguments;
}
.group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Reset stylesheet
@import 'reset.less';

// Basic layout
@import 'font.less'; // Roboto and RobotoCondensed
@import 'layout.less';
@import 'main-navigation.less';
@import 'models-footer.less';
@import 'compare-footer.less';
@import 'footer.less';
