// Black 900
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url(/model/fonts/Roboto-Black.ttf);
}

// Bold 700
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(/model/fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-weight: 700;
	src: url(/model/fonts/RobotoCondensed-Bold.ttf);
}

// Medium 500
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(/model/fonts/Roboto-Medium.ttf);
}

// Regular 400
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(/model/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-weight: 400;
	src: url(/model/fonts/RobotoCondensed-Regular.ttf);
}

// Light 300
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url(/model/fonts/Roboto-Light.ttf);
}
@font-face {
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-weight: 300;
	src: url(/model/fonts/RobotoCondensed-Light.ttf);
}

// Thin 100
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(/model/fonts/Roboto-Thin.ttf);
}
