footer {
	background-color: @lightgray;
}

footer nav {
	.wrapper;
	.group;
	padding: 3rem 0;
	border-bottom: 1px solid @darkgray;
}

footer div:nth-of-type(-n+4) {
	float: left;
	margin: 0 1.3rem;
}

footer div:first-of-type { margin-left: 0 }
footer div:nth-of-type(4) { margin-right: 0 }

footer div:nth-of-type(1) { width: 17%; }
footer div:nth-of-type(2) { width: 21%; }
footer div:nth-of-type(3) { width: 13%; }
footer div:nth-of-type(4) { width: 12%; }

footer div:last-of-type { float: right }

footer div > a {
	display: block;
	font-size: .8rem;
	line-height: 1.75em;
	color: @gray;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

footer strong {
	font-weight: 900;
	text-transform: uppercase;
	color: @black;
}

.footer-copyright {
	display: block;
	.wrapper;
	text-align: right;
	padding: 1.5em 0 2rem;
	font-size: .75rem;
}
