@import 'dev.less';

article {
	.group;
	margin-bottom: 1.5rem;

	div,
	img {
		float: left;
		display: inline-block;
		width: 49%;
	}

	div {
		padding: 1rem 2rem;
	}
}

.home-testimonials {
	padding: 1rem 0;
	background-color: @blue;
	text-transform: uppercase;
	text-align: center;
	font-family: 'RobotoCondensed', sans-serif;
	color: @white;
	.group;

	li {
		display: none;
		margin: 0 auto;
		max-width: 70%;
		height: 4.5rem;

		&.active {
			display: block;
		}

		p {
			font-weight: 700;
			font-size: 1.1rem;
			line-height: 1em;
			padding: .25em 0;
		}

		a {
			font-size: .9rem;
			line-height: 1em;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}
}

.home-testimonials-arrow {
	position: absolute;
	top: 1.75rem;
	font-size: 2rem;

	&.prev { left: 10% }
	&.next { right: 10% }
}

section {
	.group;
}

section span {
	float: left;
	width: 100%/3;
	height: 13rem;
	display: block;
	overflow: hidden;

	&:before {
		z-index: 2;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: @black;
		opacity: .7;
		.transition(opacity);
	}

	&:hover:before {
		opacity: 0;
		.transition(opacity);
	}

	img {
		z-index: 1;
		width: 100%;
		position: absolute;
	}

	a {
		z-index: 3;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		text-transform: uppercase;
		color: @white;
		font-weight: 900;
		font-size: 1.5rem;
		padding: calc((13rem - 4rem)/2) 3rem;
	}

	&:hover a {
		text-indent: -1000%;
	}
}
