html,
body {
	background: @white;
	color: @black;
	font-size: 16px;

	height: 100%;

	// --- to be removed when finally responsive
	min-width: 1000px;
}

html,
body,
input,
textarea {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body {
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	clear: both;
	width: 100%;

	@media @mobile {
		width: 90%;
	}

	@media @tablet {
		width: 95%;
	}

	@media @desktop {
		max-width: 1000px;
	}
}

// Section are used for browser window width
// Article are used for design width (1000px)
article {
	.wrapper;

	&.article-center { text-align: center }
	&.article-fill { min-height: 70% }
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 400;
}

h1 {
	font-size: 3rem;
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
}

h2 {
	font-size: 2.25rem;
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
}

article,
section {

	p,
	ul {
		line-height: 1.5em;
		padding: 1rem 0;
		font-weight: 300;
	}

	li {
		list-style-position: outside;
		list-style-type: disc;
		margin-left: 1.5rem;
		margin-bottom: .25rem;
	}

	input,
	textarea {
		padding: .95rem 1rem 1rem;
		font-weight: 400;
		min-width: 100%;
		margin: .6rem 0;
		border: 1px solid @gray;
		box-shadow: 0 0 .05rem @gray;

		&:focus,
		&:active {
			outline-color: @blue;
			.transition;
		}
	}

	textarea {
		min-height: 10rem;
	}
}

.button {
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	font-size: .75rem;
	background-color: @blue;
	color: @white;
}
