@import 'dev.less';

article {
	margin: 4rem auto;
}

article:first-of-type {
	padding: 0 8rem;
}

article:nth-of-type(2){
	h2 {
		max-width: 750px;
		margin: 0 auto 2rem;
	}

	input {
		display: inline-block;
		min-width: 0;
		height: 2.5rem;
	}

	input[type=text]{
		width: 40%;
		top: 1px;
		border: 1px solid @darkgray;
	}

	input[type=submit]{
		width: 20%;
		.button;
		border: 0;
		display: inline-block;
	}

}

article:nth-of-type(n+3){
	border-top: 1px solid @darkgray;
	padding-top: 2rem;

	p {
		max-width: 700px;
		margin: 0 auto;
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	ul {
		.group;
	}

	li {
		display: block;
		float: left;
		margin: 1%;
		width: 23%;
	}

	img {
		display: block;
		width: 100%;
	}

	span {
		display: block;
		padding: .5em;
		font-size: .9rem;
		font-weight: 700;
		color: @white;
		background-color: @gray;
		text-align: center;
	}

	a {
		.button;
		padding: .5em;
		background-color: @lightblue;
	}

	a:first-of-type { background-color: @blue }
}

article:nth-of-type(3),
article:nth-of-type(4){
	.group;

	div {
		float: left;
		width: 48%;
		margin-top: 2rem;

		&:first-of-type {
			margin-right: 4%;
		}
	}

	li {
		width: 48%;
	}
}
