// Media Queries Breakpoints
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px)";//" and (max-width: 1128px)";
//@desktop-xl:  ~"only screen and (min-width: 1129px)";

// Media Queries testing
// This adds a label in the top-left corner that displays the current media query state.
body::before {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
	padding: 0.25em 1em;
	text-align: center;
	color: white;
	font-weight: 700;

	@media @mobile {
		background: orange;
		content: "mobile";
	}

	@media @tablet {
		background: purple;
		content: "tablet";
	}

	@media @desktop {
		background: green;
		content: "desktop";
	}

	/*@media @desktop-xl {
		background: blue;
		content: "desktop-xl";
	}*/
}
