.models-footer {
	background-color: @lightgray;
	color: @gray;
	padding-top: 2rem;

	div {
		.wrapper;
		.group;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid @darkgray;
	}

	h3 {
		margin-bottom: 1rem;
	}

	a {
		display: block;
		float: left;
		width: 32%;
		margin-right: 2%;
		font-weight: 500;
		font-size: .9rem;
	}

	a:last-of-type {
		margin-right: 0;
		float: right;
	}

	img {
		max-width: 100%;
		margin-bottom: .5em;
	}
}
