@import 'dev.less';

.main-navigation {
	margin-bottom: 0 !important;
}

section {
	max-height: 400px;
	overflow: hidden;
}

article.hero {
	padding: 2rem 0;

	h1, p {
		margin: 0 auto;
		max-width: 800px;
	}
}

article:last-of-type {
	.group;
	margin-bottom: 4rem;

	div {
		display: inline-block;
		float: left;
		width: 33.3%;
	}

	span { display: block	}
	img { max-width: 100% }

	div:nth-of-type(1){
		h3 { padding-right: 1rem; }
		span, p, a { margin-right: 1rem; }
	}

	div:nth-of-type(2) {
		h3 {
			padding-right: .5rem;
			padding-left: .5rem;
		}
		span, p, a {
			margin-right: .5rem;
			margin-left: .5rem;
		}
	}

	div:nth-of-type(3) {
		h3 { padding-left: 1rem; }
		span, p, a { margin-left: 1rem; }
	}

	h3 {
		border-bottom: 1px solid @lightgray;
		color: @gray;
		padding-bottom: .5em;
	}

	a {
		.button;
	}
}
