@import 'dev.less';

h1 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

table {
	width: 100%;
	margin: 4rem 0;
	font-size: .9rem;
}

tr {
	height: 2rem;
}

td:first-of-type {
	width: 40%;
	text-align: left;
	vertical-align: bottom;
}

td:nth-of-type(n+2) { width: 15% }

thead {
	border-bottom: 1px solid @lightgray;
	font-size: 1.2rem;
	vertical-align: middle;
}

.yes,
.no {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 9px;
}

.yes { background-image: url('/model/images/products_competitors-YES.png') }
.no { background-image: url('/model/images/products_competitors-NO.png') }
