@import 'dev.less';

article {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

article:first-of-type {

	img {
		float: right;
		margin-top: 3rem;
		max-width: 55%;
	}

	p {
		max-width: 40%;
	}

	span {
		display: block;
		width: 47%;
		.group;
		margin: 1rem 0;
	}

	a {
		.button;
		display: block;
		float: left;
		width: 45%;
		padding-left: 0;
		padding-right: 0;
	}

	a:nth-of-type(2){ background-color: @lightblue }
	a:nth-of-type(3){ background-color: @gray }
	a:nth-of-type(4){ background-color: @darkgray }
}

article:last-of-type {
	.group;

	div {
		display: block;
		float: left;
		width: 50%;
	}

	h3 {
		border-bottom: 1px solid @lightgray;
		padding-bottom: .5em;
	}

	p, ul {
		max-width: 90%;
	}

	a {
		.button;
		width: 50%;
		margin-top: 2rem;
	}
}
