@import 'dev.less';

article:first-of-type {
	margin: 4rem auto;
}

article:last-of-type {
	.group;
	margin-bottom: 5rem;

	ul, li {
		padding: 0;
		margin: 0;
	}

	ul {
		width: 25%;
		float: left;
	}

	li {
		list-style: none;
		margin-bottom: .15rem;
		display: block;
		padding: .25rem .5rem;
		text-transform: uppercase;
		font-weight: 500;
		font-size: .8rem;
		background-color: @lightgray;
		color: @gray;
		cursor: pointer;

		span {
			font-weight: 900;
			display: block;
		}

		&.active,
		&:hover{
			background-color: @blue;
			color: @white;
		}
	}

	div {
		float: right;
		width: 70%;
		padding-bottom: 3rem;
	}

	img {
		display: block;
		width: 100%;
	}

	a {
		display: inline-block;
		position: absolute;
		bottom: 0;
		color: @blue;
		border: 1px solid @blue;
		width: 30%;
		padding: .75em 1em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: .8rem;
		letter-spacing: 1px;
	}

	a.prev { left: 0 }
	a.next { right: 0; text-align: right; }

	a:nth-of-type(2) {
		left: 35%;
		background-color: @blue;
		color: @white;
		text-align: center;
	}
}
