@import 'dev.less';

.main-navigation {
	margin-bottom: 0 !important;
}

section img {
	width: 100%;
}

article:first-of-type {
	h1, p {
		width: 100%;
		margin: 0 auto;
	}

	h1 { max-width: 600px }
	p { max-width: 750px }
}

article:last-of-type {
	margin: 4rem auto;

	h2 {
		max-width: 500px;
		margin: 0 auto;
	}
}

article ul {
	width: 100%;
	max-width: 750px;
	list-style: none;
	margin: 2rem auto;
	padding: 0;
}

article	li {
	display: block;
	padding: 1.5rem;
	color: @white;
	font-weight: 500;
	margin: 0;
	.group;

	span:first-of-type {
		float: left;
		width: 65%;
	}

	span:last-of-type {
		float: right;
		width: 34%;
	}

	strong {
		display: block;
		font-size: 1.25rem;
		font-weight: 900;
	}
}

article li:nth-of-type(1){ background-color: #85b0d1 }
article li:nth-of-type(2){ background-color: #649ac4 }
article li:nth-of-type(3){ background-color: #4284b7 }
article li:nth-of-type(4){ background-color: @blue }
