@import 'dev.less';

section {
	text-align: center;
	background-image: url('../../model/images/products_overview-main.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: auto;
	max-height: 1000px;
	padding-bottom: 25rem;

	h1,
	p {
		margin: 0 auto;
		max-width: 700px;
	}
}

article {
	.group;
	margin-top: 3rem;
}

article:nth-of-type(-n+3) {
	border-bottom: 1px solid @darkgray;

	img, span {
		float: left;
		display: inline-block
	}

	span {
		padding-top: 2rem;
	}
}

article:nth-of-type(1) {
	img {
		width: 50%;
		margin-right: 5%;
	}

	span { width: 44%; }
}

article:nth-of-type(2) {
	img { width: 45%; }

	span {
		width: 49%;
		margin-right: 5%;
	}
}

article:nth-of-type(3) {
	img {
		width: 30%;
		margin-right: 5%;
	}

	span {
		width: 64%;
		padding-top: 2rem;
	}
}

article:last-of-type {
	padding: 3rem 4rem 5rem;

	p:nth-of-type(n+2) {
		float: left;
		width: 45%;
	}

	p:last-of-type {
		margin-left: 10%;
	}
}
