@import 'dev.less';

.main-navigation {
	margin-bottom: 0 !important;
}

section img {
	width: 100%;
}

article:first-of-type {
	margin-top: 2rem;

	h1, p {
		width: 100%;
		margin: 0 auto;
	}

	h1 { max-width: 600px }
	p { max-width: 750px }
}

article:nth-of-type(2) {
	h2 {
		margin: 4rem 0 1rem;
		text-align: center;
	}

	div {
		display: block;
		color: @white;
		font-weight: 500;
		width: 100%;
		.group;
	}

	div:first-of-type{
		background-color: #4284b7;
		padding: 2rem 0 2.5rem;
	}

	div:last-of-type{
		background-color: @blue;
		padding: 2rem 4rem 2.5rem;
	}

	span {
		float: left;
		text-align: center;
		font-weight: 100;
		font-size: 4.75rem;
		letter-spacing: -1px;
	}

	div:first-of-type span { width: 25% }
	div:last-of-type span { width: 33% }

	sub {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: .7rem;
		letter-spacing: 1px;
	}
}

article:last-of-type {
	margin: 4rem auto 6rem;
	color: @blue;

	h2 {
		max-width: 700px;
		margin: 0 auto;
		font-size: 2.5rem;
	}

	strong {
		font-weight: 900;
	}
}
