@import 'dev.less';

article:first-of-type {
	.group;
	margin-bottom: 4rem;

	img {
		float: left;
		max-width: 40%;
		margin-right: 1rem;
	}

	h1 {
		padding-top: 3rem;
	}

	a {
		text-decoration: underline;
	}
}

article:last-of-type {
	ul {
		border-top: 1px solid @lightgray;
		margin-bottom: 6rem;
		padding: 0;
	}

	li {
		border-bottom: 1px solid @lightgray;
		margin: 0;
		list-style: none;
		padding: 1.5rem 8rem 1.5rem 0;
	}

	p {	padding: 0 }

	p:first-of-type {
		color: @blue;
		padding-bottom: .25em;
	}

	a {
		.button;
		width: 7rem;
		position: absolute;
		top: 1.5rem;
		right: 0;
		padding: .5em 1em;
	}

	a.link {
		background-color: @lightblue;
	}

	span {
		position: absolute;
		bottom: 1.5rem;
		right: 0;
		color: @gray;
		font-size: .7rem;
	}
}
