@import 'dev.less';

article:first-of-type {
	margin: 4rem auto;

	p {
		max-width: 875px;
		margin: 0 auto;
	}
}

article:nth-of-type(2) {
	.group;

	div {
		float: left;
		width: 50%;
	}

	img {
		margin-bottom: 2rem;
	}

	p {
		max-width: 90%;
	}
}

article:last-of-type {
	background-color: #DDE5E9;
	padding: 2rem 0 .5rem;
	margin-top: 3rem;
	margin-bottom: 4rem;
	text-align: center;

	img {
		margin-top: 2rem;
	}

	p {
		color: @gray;
		font-size: .7rem;
	}
}
