@import 'dev.less';

article:first-of-type {
	margin: 4rem auto;

	h1 {
		max-width: 700px;
		margin: 0 auto;
	}

	p {
		max-width: 750px;
		margin: 0 auto;
	}
}

article:last-of-type {
	.group;
	margin-bottom: 5rem;

	div {
		float: left;
		width: 33%;
		text-align: center;
	}

	img {
		margin-bottom: 2rem;
	}

	h2, p {
		padding: 0 2rem 1rem;
	}
}
