@import 'dev.less';

article:first-of-type {
	margin: 4rem auto;

	h1, p {
		max-width: 650px;
		margin: 0 auto;
	}
}

article:last-of-type {
	.group;
	margin-bottom: 5rem;

	ul, li {
		padding: 0;
		margin: 0;
	}

	ul {
		width: 25%;
		float: left;
	}

	li {
		list-style: none;
		margin-bottom: .15rem;
		display: block;
		padding: .25rem .5rem;
		text-transform: uppercase;
		font-weight: 700;
		font-size: .8rem;
		background-color: @lightgray;
		color: @gray;
		cursor: pointer;

		&.active,
		&:hover{
			background-color: @blue;
			color: @white;
		}
	}

	div {
		float: right;
		width: 70%;
		min-height: 1050px;
	}

	img {
		display: block;
		width: 100%;
	}

	a {
		display: inline-block;
		position: absolute;
		bottom: 0;
		color: @blue;
		border: 1px solid @blue;
		width: 45%;
		padding: .75em 1em;
		text-transform: uppercase;
		font-weight: 700;
		font-size: .8rem;
	}

	a.prev { left: 0 }
	a.next { right: 0; text-align: right; }
}
