@import 'dev.less';

article {
	.group;
	padding-bottom: 2rem;

	div {
		float: left;
		width: 50%;
	}
}

article:first-of-type {
	h1 {
		margin: 2rem 0;
	}

	div {
		text-align: left;
	}

	input {
		display: block;
		float: left;
		min-width: 0;
		height: 2.5rem;
	}

	input[type=text]{
		width: 50%;
		top: 1px;
		border: 1px solid @darkgray;
	}

	input[type=submit]{
		width: 20%;
		.button;
		display: inline-block;
		border: 1px solid #0071ab;
		top: 1px;
	}
}

article:nth-of-type(2) {
	margin: 3rem auto 0;
	padding: 3rem 0;
	border-top: 1px solid @darkgray;

	video {
		margin: 1rem auto 2rem;
		border: 1px solid @lightgray;
	}

	div {
		margin-top: 2rem;
	}
}

article:last-of-type {
	margin-bottom: 5rem;
}
