@import 'dev.less';

article:first-of-type {
	margin: 4rem auto;

	p {
		max-width: 875px;
		margin: 0 auto;
	}
}

article:nth-of-type(2) {

	ul {
		.group;
		width: 100%;
		padding: 0;
	}

	li {
		display: block;
		float: left;
		width: 33%;
		height: 270px;
		margin: 0;
		font-weight: 700;
		color: @gray;
		background-color: @lightgray;
		text-transform: uppercase;
		text-align: center;
		font-size: .9rem;
	}

	li:first-of-type {
		color: @white;
		background-color: @blue;
		font-family: 'RobotoCondensed', sans-serif;

		span {
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.2em;
			padding: 4.75rem 2rem;
		}
	}

	div {
		display: table;
		width: 100%;
	}

	span {
		display: table-cell;
		vertical-align: middle;
		height: calc(270px - 220px);
		line-height: 1.1em;
		letter-spacing: 1px;
	}

	img {
		width: 100%;
	}
}

article:nth-of-type(3) {
	background-color: @lightgray;
	padding: 2rem;

	ul {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	ol li {
		list-style: disc;
	}
}

article:nth-of-type(4) {
	margin: 4rem auto;

	ul {
		.group;
		padding: 0;
	}

	li {
		list-style: none;
		display: block;
		float: left;
		width: 33%;
		height: 320px;
		margin: 0;
		text-align: center;
		padding: 105px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 275px;
		text-transform: uppercase;
		line-height: 1.1em;
		font-weight: 700;
		font-size: .8rem;
		color: @gray;
	}

	li:nth-of-type(1) { background-image: url('/model/images/science_effectiveness_91.png')}
	li:nth-of-type(2) { background-image: url('/model/images/science_effectiveness_83.png')}
	li:nth-of-type(3) { background-image: url('/model/images/science_effectiveness_77.png')}
	li:nth-of-type(4) { background-image: url('/model/images/science_effectiveness_76.png')}
	li:nth-of-type(5) { background-image: url('/model/images/science_effectiveness_90.png')}
	li:nth-of-type(6) { background-image: url('/model/images/science_effectiveness_80.png')}
	li:nth-of-type(7) { background-image: url('/model/images/science_effectiveness_88.png')}
	li:nth-of-type(8) { background-image: url('/model/images/science_effectiveness_80.png')}
	li:nth-of-type(9) { background-image: url('/model/images/science_effectiveness_90.png')}

	span {
		display: block;
		color: @blue;
		font-size: 4rem;
		line-height: 1em;
		font-weight: 100;
	}
}

article:last-of-type {
	.group;

	div {
		width: 49%;
		padding: 0;
		margin-bottom: 5rem;
	}

	div:first-of-type { float: left }
	div:last-of-type { float: right }

	span:first-of-type {
		display: block;
		background-color: @blue;
		color: @white;
		font-weight: 700;
		font-size: .9rem;
		padding: .5rem;
		text-align: center;
	}

	span:last-of-type {
		display: block;
		background-color: @lightgray;
		padding: 2rem 1rem .25rem;
		height: 320px;
	}

	div:first-of-type p {
		font-size: .8rem;
		font-weight: 500;
		color: @gray;
	}

	div:last-of-type p {
		text-align: right;
		font-size: .7rem;
		padding: .5rem;
	}
}
